/* General Carousel Styles */
#carouselExampleCaptions {
    position: relative;
    /* width: 100%; */
    overflow: hidden;
  }
  
  #carouselExampleCaptions img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
  }
  
  /* Carousel Indicators */
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 0.75rem;
  }
  
  .carousel-indicators button {
    background-color: rgba(255, 255, 255, 0.5);
    width: 30px;
    height: 5px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .carousel-indicators button.active {
    background-color: white;
  }
  
  /* Carousel Controls */
  .carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .carousel-control-prev svg, .carousel-control-next svg {
    color: white;
    width: 24px;
    height: 24px;
  }
  
  /* Carousel Item Styles */
  .carousel-item {
    position: relative;
    transition: opacity 0.6s ease-in-out;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  .carousel-item .carousel-caption {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 5px;
  }
  
  /* Responsive Text Styling */
  .carousel-item h2 {
    font-size: 6vw;
  }
  
  .carousel-item p {
    font-size: 3vw;
  }
  
  @media (min-width: 768px) {
    .carousel-item h2 {
      font-size: 4vw;
    }
    .carousel-item p {
      font-size: 2.5vw;
    }
  }
  
  @media (min-width: 1024px) {
    .carousel-item h2 {
      font-size: 60px;
    }
    .carousel-item p {
      font-size: 30px;
    }
  }







  